:root {
    --white: #fff;
    --light-gray: #fafafa;
    --dark-orange: #534D44;
    --blue-magenta: #323237;
    --magenta: #d2d2d3;
    --light-brown: #b4a895;
    --dark-gray: #222;
    --gray: #2b2b2b;
    --medium-gray: #999;
    --very-light-gray: #ededed;
    --chinese-silver: #ccc;
    --green-cyan: #111514;
    --black-magic: #000;
    --mercury: #e8e8e8;
    --gray94: #f0f0f0;
    --red: #e74747;
    --shade-gray: #e1e1e1;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --font-family: "Poppins",Helvetica,sans-serif;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

/*text*/
h1, h2, h3, h4, h5, p {
    line-height: 1.2;
    font-weight: 500;
}

/*navigation bar: menu, home, basket*/
.navbar-nav.position-navbar {
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 18px;
}
.nav-item_link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.125rem;
    letter-spacing: 1px;
    margin-right: 25px;
}
.nav-item_link:active, .nav-item_link:hover  {
    color: var(--white);
}
.nav-sticky .nav-item_link {
    color: var(--black-magic);
    font-weight: 400;
}

/*dropdown basket*/
.bg-menu {
    background-color: var(--white);
}
.position-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.collect-flex {
    display: flex;
}
.item-img {
    width: auto;
    height: 70px;
}
.item-info {
    margin: 0 20px;
}
.item-title {
    display: block;
    text-decoration: none;
    color: var(--black-magic);
    font-weight: 100;
    font-style: normal;
    margin-bottom: 3px;
}
.item-cost {
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
}
.dropdown-item .svg-item {
    display: flex;
    gap: 10px;
}
.svg-item:hover {
    cursor: pointer;
}
.hr-line_style {
    width: 90%;
    margin: 5px auto;
    background-color: var(--light-brown);
}
.total-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    margin: 0 17px;
    font-weight: 500;
}
.checkout-link {
    text-decoration: none;
}
.button-checkout {
    display: block;
    width: 90%;
    font-family: "Poppins",Helvetica,sans-serif;
    font-size: 0.975rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--light-brown);
    border: 1px solid transparent;
    border-radius: 3px;
    line-height: 1;
    letter-spacing: 1px;
    padding: 8px 0;
    margin: 5px auto;
}
.link-active {
    text-decoration: none;
    color: transparent;
}
.grid-icon {
    margin-top: 0.1rem;
    /*margin-right: 1rem;*/
}
.basket-icon .item-type {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
}
.item-amount {
    position: relative;
    right: 15px;
    top: 15px;
    color: var(--white);
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    background-color: var(--black-magic);
    border-radius: 13px;
    padding: 1px 5px;
}
.basket-icon {
    display: none;
}

/*sidenav for mobile devices*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--bs-white);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.4s;
    transition-timing-function: ease-out;
}
a.icon-x:hover {
    color: var(--light-brown);
}
.icon-x {
    position: absolute;
    top: 0;
    left: -35px;
    text-decoration: none;
    color: var(--green-cyan);
    font-size: 36px;
    margin-left: 50px;
}
.sidenav-menu {
    background-color: var(--white);
    list-style: none;
    padding: 0 20px;
}
.sidenav-hr {
    margin: 15px auto;
    background-color: var(--light-brown);
}
.sidenav-menu_bottom {
    list-style: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.total-item_bottom {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    font-weight: 500;
}
.button-checkout_bottom {
    width: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 0.975rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--light-brown);
    border: 1px solid transparent;
    border-radius: 3px;
    line-height: 1;
    letter-spacing: 1px;
    padding: 8px 0;
    margin: 5px auto;
}

/*footer*/
.frame {
    background-color: var(--gray);
    color: var(--white);
    --mask:
            linear-gradient(#2b2b2b, #2b2b2b, #2b2b2b) bottom/100% calc(100% - 0.3em) no-repeat,
            radial-gradient(circle farthest-side,#2b2b2b 98%,#0000) top/0.56em 0.6em repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
.row.customer-info {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.col-lg-3.info-contact {
    margin-top: 2rem;
    padding-left: 0;
}
.font-style {
    font-size: 1.215rem;
    margin-bottom: 1rem;
}
.text-decoration {
    font-size: 0.875rem;
    font-weight: lighter;
    line-height: 1.6;
    word-spacing: 2px;
    margin-bottom: 0;
}
.online-support p {
    color: var(--light-brown);
}
.main-info, .social-media p {
    color: rgba(255,255,255,0.6);
}
.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: none;
}
.input-container input[type="email"] {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.05);
    color:var(--chinese-silver);
    padding: 10px 10px 10px 15px;
}
.input-container input[type="email"]:focus {
    outline: 1px solid var(--light-brown);
}
.button-submit {
    background-color: var(--light-brown);
    color: var(--white);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
}
.button-submit:hover {
    cursor: pointer;
}
.button-svg {
    vertical-align: sub;
}
.input-container::placeholder {
    font-size: 0.800rem;
    letter-spacing: 0.1vw;
    color: var(--light-brown);
}


/*change Autocomplete styles in Chrome*/
.input-container .input-email:-webkit-autofill,
.input-email:-webkit-autofill:hover,
.input-email:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--chinese-silver);
    -webkit-box-shadow: 0 0 0 1000px #2b2b2b inset;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: var(--chinese-silver);
}
.hr-footer {
    border: 1px solid var(--light-brown);
    width: 80%;
    margin: 2em auto 0;
}
.social-media {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    margin: 0 auto;
}
.icon-media {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    color: var(--blue-magenta);
}


@media all and (max-width: 992px) {
    .nav-hided {
        display: none;
    }
    .nav-app {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0;
        height: 67px;
        z-index: 1000;
        opacity: 0.9;
    }
    .text-black svg {
        fill: var(--black-magic);
    }
    .basket-icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
    .nav-item_link {
        margin-right: 0;
    }
    .bg-img {
        background-attachment: inherit;
        background-position-y: 0;
    }
    .heading-size {
        font-size: 3rem;
    }
    .icon-media {
        margin-top: 15px;
    }
}

@media screen and (max-width:475px) {
    .row.customer-info {
        width: 100%;
    }
    .col-lg-3.info-contact {
        margin: 0;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .font-style {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .social-media {
        width: 95%;
        padding: 25px 0;
    }
    .hr-footer {
        width: 95%;
    }
    .text-position {
        margin-left: 5px;
    }
}