/*bg-img*/
.container-fluid.container-size {
    padding: 0;
}
.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/meals_menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position-y: -30rem;
    max-width: 100%;
    height: 400px;
    opacity: 0.8;
}
.text-center {
    padding-top: 9rem;
    color: white;
}
.heading-size {
    font-size: 4rem;
}


/*menu*/
main .pattern {
    background-image: url(../img/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.container.container-pt {
    padding-top: 3rem;
}
.container .hr-colorful {
    width: 120px;
    height: 2px;
    display: block;
    background-color: #e1e1e1;
    margin: 0 auto;
}
.hr-colorful .bg-em_line {
    display: block;
    width: 60px;
    height: 2px;
    background-color: #978667;
    margin: 0 auto;
}
main .heading-h2 {
    font-size: 32px;
    text-align: center;
}
.col-lg-6 .small-block {
    display: flex;
    text-decoration: none;
    color: var(--black-magic);
}
.col-lg-6.container-mt {
    margin-top: 1.5rem;
}
picture img {
    width: 106px;
    border-radius: 50%;
}
.name-items {
    width: 100%;
    padding: 15px 0 0 15px;
}
.paragraph-font {
    font-family: 'Lora', serif;
    margin-top: 5px;
}
.cost-items {
    background-image: radial-gradient(#d5d5d5 40%,rgba(0,0,0,0) 10%);
    background-position: 0 14px;
    background-size: 4px 4px;
    background-repeat: repeat-x;
}
.cost-items .bg-title {
    display: inline;
    font-size: 1.5rem;
    background-color: var(--white);
    padding-right: 5px;
}
.cost-items .bg-em_title {
    float: right;
    background-color: var(--white);
    font-size: 1.125rem;
    font-weight: 600;
    font-style: normal;
    padding-left: 5px;
}
.show-button button {
    position: relative;
    left: 12px;
    bottom: 20px;
    background-color: var(--light-brown);
    border: 1px solid transparent;
    border-radius: 3px;
    color: var(--white);
    font-size: 0.6875rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    padding: 6px 4px;
}
.pattern .download-file {
    display: grid;
    justify-content: center;
}
.download-file a {
    display: block;
    text-decoration: none;
    text-align: center;
    background: none;
    color: var(--black-magic);
    border: 1px solid var(--black-magic);
    border-radius: 3px;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 6px 15px;
    margin: 1em 0 2rem 0;
}
.download-file a:hover {
    color: var(--light-brown);
    border: 1px solid var(--light-brown);
}


@media all and (max-width: 992px) {
    .logo img {
        width: 175px;
    }
}
@media screen and (max-width:475px) {
    .col-lg-6.container-mt {
        margin: 0;
    }
    .container.container-pt {
        padding-top: 2rem;
    }
    main .heading-h2 {
        font-size: 30px;
        margin-bottom: 1.5rem;
    }
    picture img {
        width: 70px;
    }
    .cost-items .bg-title, .cost-items .bg-em_title {
        font-size: 1rem;
    }
    .show-button button {
        left: 2px;
        font-size: 0.575rem;
        padding: 4px 2px;
    }
    .paragraph-font {
        font-size: 0.825rem;
    }
}