

/*navbar for Web*/
/*.nav-hided {
    position: absolute;
    inset: 0.4rem 0 auto auto;
    padding: 1vw;
}
.nav-hided ul li {
    float: left;
}
.nav-hided ul {
    list-style-type: none;
}
.nav-hided ul a {
    text-decoration: none;
    color: var(--black-magic);
    font-size: clamp(0.975rem, 1.5vw, 1.063rem);
    letter-spacing: 1px;
    padding: 5px 8px;
}*/


/*logo for Web*/
.logo {
    width: 235px;
    margin: 8px;
}

/*scroll down NavBar*/
.nav-scroll {
    background-color: var(--shade-gray);
    text-align: center;
}


/*!*home page on phone and table*!
.bg-app {
    display: block;
    width: 100%;
    height: 530px;
    opacity: 0.9;
    z-index: -1;
}
.search-items ul {
    list-style-type: none;
}
.search-items li {
    float: left;
    padding: 0.2em 0.5em;
}
.search-items li a {
    text-decoration: none;
}
.search-items img {
    width: 25px;
}
.search-items strong {
    position: relative;
    right: 16px;
    top: 5px;
    color: var(--white);
    font-weight: 300;
    background-color: var(--green-cyan);
    border-radius: 6px;
    padding: 0 4px;
    font-size: 10px;
}*/

/*forms*/
main.pattern {
    background-image: url("img/bg_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background-attachment: scroll;*/
}
.pattern .main-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Poppins", Helvetica, sans-serif;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.main-container .details {
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
}
.main-container .details:first-child {
    margin-bottom: 3rem;
}
.details .heading-style {
    background-color: var(--light-brown);
    color: var(--white);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 23px 20px 18px 20px;
}
.submit-form {
     background-color: var(--white);
 }
.submit-form .fill-form {
     padding: 1rem 2rem;
    /*padding: 1rem 2rem 0.5rem 2rem;*/
}
.fill-form label {
    padding-left: 2px;
    padding-bottom: 1px;
}
.fill-form.label-details {
    color: var(--bs-gray-900);
    font-size: 15px;
    font-weight: 500;
}
.submit-form input {
    width: 100%;
    font-family: var(--bs-body-font-family);
    font-size: 0.875rem;
    background-color: var(--white);
    border: 1px solid var(--chinese-silver);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 1rem;
}
.submit-form.payment-area {
    padding-bottom: 2rem;
}
.confirm-payment {
    background-color: var(--gray94);
    border: 1px solid var(--gray94);
    border-radius: 4px;
    margin: 0 2rem;
}
/*.confirm-payment img {
    float: right;
    position: relative;
    bottom: 5px;
    right: 10px;
}*/
.confirm-payment label {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 500;
    /*padding: 8px;*/
    padding: 8px 8px 8px 0;
}
.confirm-payment input[type="radio"] {
    margin: 0 5px 0 7px;
}
.confirm-payment input {
    /*margin: 1em 0.5em auto 0;*/
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
}
form input:focus {
    border: 2px solid var(--light-brown);
    outline: none;
}
.contact-card div {
    width: 48%;
}
.col-sm-6 .sub-position {
    vertical-align: text-bottom;
}


/*aside*/
/*.main-container .box-order {
    min-width: 30%;
    margin: 5em 0;
}*/
.aside-block {
    border: 1px dotted var(--medium-gray);
    background-color: var(--white);
    position: sticky;
    top: 9rem;
}
.order-block .heading-aside {
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--shade-gray);
    border-bottom: 1px dotted var(--medium-gray);
    padding: 23px 20px 18px 20px;
}
/*.order-block */.order-items {
    width: 90%;
    font-size: 0.875rem;
    margin: 0 auto;
}
.order-list {
    list-style-type: none;
    line-height: 1.5;
}
.order-items ul li {
    margin: 1em;
}
.order-items ul li a {
    text-decoration: none;
    color: var(--black-magic);
}
.box-order .order-block div ul li a img {
    margin-right: 0.5em;
    vertical-align: middle;
}
.box-order .order-block div ul li span {
    float: right;
    font-weight: 500;
}
.order-items .subtotal-items {
    margin-top: 2em;
}

.subtotal-items .special-style {
    color: var(--red);
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 0.8em;
    font-weight: 600;
}
.special-style span {
    font-weight: 600!important;
}
.order-items button {
    display: block;
    width: 90%;
    color: var(--white);
    background-color: var(--light-brown);
    border-radius: 5px;
    padding: 12px;
    margin: 0 auto;
}
.order-items small {
    display: block;
    margin: 1em 0;
    text-align: center;
}


/*footer*/
.frame {
    background-color: var(--gray);
    color: var(--white);
    --mask:
            linear-gradient(#2b2b2b, #2b2b2b, #2b2b2b) bottom/100% calc(100% - 0.3em) no-repeat,
            radial-gradient(circle farthest-side,#2b2b2b 98%,#0000) top/0.56em 0.6em repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
.row.customer-info {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.col-lg-3.info-contact {
    margin-top: 2rem;
    padding-left: 0;
}
.font-style {
    font-size: 1.215rem;
    margin-bottom: 1rem;
}
.text-decoration {
    font-size: 0.875rem;
    font-weight: lighter;
    line-height: 1.6;
    word-spacing: 2px;
    margin-bottom: 0;
}
.online-support p {
    color: var(--light-brown);
}
.main-info, .social-media p {
    color: rgba(255,255,255,0.6);
}
.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: none;
}
.input-container input[type="email"] {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.05);
    color:var(--chinese-silver);
    padding: 10px 10px 10px 15px;
}
.input-container input[type="email"]:focus {
    outline: 1px solid var(--light-brown);
}
.button-submit {
    background-color: var(--light-brown);
    color: var(--white);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
}
.button-submit:hover {
    cursor: pointer;
}
.button-svg {
    vertical-align: sub;
}
.input-container::placeholder {
    font-size: 0.800rem;
    letter-spacing: 0.1vw;
    color: var(--light-brown);
}

/*change Autocomplete styles in Chrome*/
.input-container input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--chinese-silver);
    -webkit-box-shadow: 0 0 0 1000px #2b2b2b inset;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: var(--chinese-silver);
}
.hr-footer {
    border: 1px solid var(--light-brown);
    width: 80%;
    margin: 2em auto 0;
}
.social-media {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    margin: 0 auto;
}
.icon-media {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    color: var(--blue-magenta);
}

/*gap between next div*/
/*@media all and (max-width:1600px) {
    .submit-form {
        margin: 0 auto 1.5em;
    }
}*/

/*navbar for app*/
@media all and (max-width: 992px) {
    .nav-hided {
        display: none;
    }
    .pattern .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
    .main-container .aside-block {
        margin-top: 3rem;
    }
    .icon-media {
        margin-top: 15px;
    }
}
@media screen and (max-width:475px) {
    .row.customer-info {
        width: 100%;
    }
    .col-lg-3.info-contact {
        margin: 0;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .font-style {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .social-media {
        width: 95%;
        padding: 25px 0;
    }
    .show-button button {
        left: 2px;
        font-size: 0.575rem;
        padding: 4px 2px;
    }
    .hr-footer {
        width: 95%;
    }
    .text-position {
        margin-left: 5px;
    }
}

