body {
    font-family: "Poppins",Helvetica,sans-serif;
}

/*navbar for Web*/
.nav-web {
    position: fixed;
    inset: 0.8rem 0 auto auto;
    padding: 1vw;
}
.nav-web ul li {
    float: left;
}
.nav-web ul {
    list-style-type: none;
}
.nav-web ul a {
    text-decoration: none;
    color: var(--light-gray);
    font-size: clamp(0.975rem, 1.5vw, 1.063rem);
    letter-spacing: 1px;
    padding: 5px 8px;
}
.nav-sticky ul a {
    color: var(--black-magic);
    font-weight: 400;
}


/*logo for Web*/
.logo {
    position: fixed;
    inset: 0 auto auto 0;
}
.logo img {
    width: 200px;
    margin: 0.5em;
    display: none;
}

.logo .visible {
    display: block;
}


/*scroll down NavBar*/
.nav-scroll {
    position: fixed;
    top: 0;
    left: 0;
    height: 67px;
    width: 100%;
    z-index: 999999;
}

.scroll-sticky {
    position: sticky;
    background-color: white;
}

/*home page on phone and table*/
.bg-app {
    display: block;
    width: 100%;
    height: 530px;
    opacity: 0.9;
    z-index: -1;
}
.nav-app {
    display: none;
}
.search-items ul {
    list-style-type: none;
    padding: 1vw 0.5vw 0 0;
}
.search-items li {
    float: left;
}
.search-items li:nth-child(1){
    margin-right: 2vw;
}
.search-items li a {
    text-decoration: none;
}
.search-items strong {
    position: relative;
    right: 17px;
    top: 5px;
    color: var(--white);
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    background-color: #342727;
    border-radius: 8px;
    padding: 0 4px;
}

/*bg-img*/
.bg-transparency {
    background-color: rgba(0, 0, 0, 0.6);
}
.bg-img {
    background-image: url("img/meals_menu.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position-y: 78%;
    height: 25em;
}
.bg-img div {
    position: relative;
    top: 10em;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.bg-img div h1 {
    color: var(--white);
    line-height: 1.5;
    font-size: 4rem;
}

/*main*/
main .pattern {
    background-image: url("img/bg_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hr-colorful span {
    width: 120px;
    height: 2px;
    background-color: #e1e1e1;
    display: block;
}
main h2 {
    border-top: 1px solid var(--shade-gray);
    font-size: 2.125rem;
    text-align: center;
}




/*starter*/
.pattern .starter-menu {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: 0 auto;
}

.starter-menu .block-items {
    padding: 0 15px;
    margin: 20px 0;
}
.pattern .starter-menu a {
    text-decoration: none;
    color: var(--black-magic);
}

.starter-menu figure img {
    float: left;
    width: 106px;
    border-radius: 50%;
}

.starter-menu .name-items {
    display: inherit;
    width: 30%;
    position: absolute;
    padding: 15px 0 0 15px;
}

.name-items p {
    font-family: 'Lora', serif;
    margin-top: 5px;
}

.cost-items {
    background-image: radial-gradient(#d5d5d5 40%,rgba(0,0,0,0) 10%);
    background-position: 0 14px;
    background-size: 4px 4px;
    background-repeat: repeat-x;
}

.cost-items div h3 {
    display: inline;
    background-color: var(--white);
    padding-right: 5px;
}

.cost-items em {
    float: right;
    background-color: var(--white);
    font-weight: 600;
    font-style: normal;
    padding-left: 5px;
}


.block-items .show-button {
    position: relative;
    right: -15px;
}

.show-button button {
    position: absolute;
    left: 0;
    top: 90px;
    background-color: var(--light-brown);
    color: var(--white);
    font-size: 0.6875rem;
    font-weight: 600;
    border-radius: 3px;
    line-height: 1;
    letter-spacing: 1px;
    padding: 6px 4px;
}


/*footer*/
.frame {
    font-family: var(--font-family-sans-serif);
    background-color: var(--gray);
    color: var(--white);
    --mask:
            linear-gradient(#2b2b2b, #2b2b2b, #2b2b2b) bottom/100% calc(100% - 0.3em) no-repeat,
            radial-gradient(circle farthest-side,#2b2b2b 98%,#0000) top/0.56em 0.6em repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
.customer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 1em;
}
.help-contact {
    min-width: 20em;
}
footer .help-contact h4, .info-contact h4 {
    margin: 2vw 0 1vw 0;
}
.icon-operator {
    background-image: url("img/operator.png");
    background-size: auto 100%;
    float: left;
    width: 3.5em;
    height: 3.5em;
}
.online-support a {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}
.online-support p, .main-info p, .social-media p {
    font-size: clamp(0.800rem, 1vw, 0.875rem);
    line-height: 2;
    word-spacing: 2px;
    font-weight: lighter;
}
.online-support p {
    color: var(--light-brown);
}
.main-info p, .social-media p {
    color: rgba(255,255,255,0.6);
}
.input-container {
    width: 100%;
    border: none;
    line-height: 3.7;
}
.input-container input[type="email"] {
    border-radius: 4px;
    background-color: rgba(255,255,255,0.05);
    color:var(--chinese-silver);
    width: 20em;
    padding: 13px 15px;
}
.input-container input[type="email"]:focus {
    outline: 1px solid var(--light-brown);
}
.button_submit {
    background-color: var(--light-brown);
    color: var(--white);
    border-radius: 0 4px 4px 0;
    position: relative;
    right: 42px;
    top: 0;
    padding: 13px 15px;
}
.button_submit:hover {
    cursor: pointer;
}
.input-container::placeholder {
    font-size: 0.800rem;
    letter-spacing: 0.1vw;
    color: var(--light-brown);
}

/*change Autocomplete styles in Chrome*/
.input-container input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--chinese-silver);
    -webkit-box-shadow: 0 0 0 1000px #2b2b2b inset;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: var(--chinese-silver);
}
.hr-footer {
    border: 1px solid var(--light-brown);
    width: 80%;
    margin: 2em auto 0;
}
.social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    margin: 0 10vw;
}
.icon-media {
    font-size: 25px;
}
.icon-media a {
    text-decoration: none;
    color: var(--blue-magenta);
    padding: 5px 15px;
}

@media all and (max-width: 991px) {
    .nav-web {
        display: none;
    }
    .nav-app {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--shade-gray);
        width: 100%;
        position: fixed;
        top: 0;
        padding: 1vw;
        height: 58px;
        z-index: 999999;
        opacity: 0.9;
    }
    .nav-app .menu {
        padding: 2vw;
    }
    .swap-color svg g g {
        fill: black;
    }
    .icon-search {
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
    }
    .logo img {
        width: 160px;
        position: fixed;
        inset: 0.5em 0 auto 0;
        margin: auto;
    }
}