:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Poppins",Helvetica,sans-serif;
    background-color: #fff;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*NavBar*/

nav {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5vw;
    padding: 1vw;
}

.decor li {
    float: left;
}

.decor {
    list-style-type: none;
}

.decor a {
    text-decoration: none;
    color: white;
    padding-left: 1vw;
    font-size: 0.875rem;
    font-weight: 500;
}

.logo {
    position: fixed;
    top: 0;
    float: left;
    width: 200px;
}
/*Video' style*/
.container_1 {
    height: 55vh;
    z-index: -1;
    overflow: hidden;
}

video {
    width: 100%;
    object-fit: cover;
    transform: translate(0%,-28%);
    -ms-transform: translate(0%,-28%);
    opacity: 0.9;
}
/*Scroll down NavBar*/
.child_container_1 {
    background-image: linear-gradient(180deg,#000 5%,transparent);
    position: fixed;
    top: 0;
    height: 3.75vw;
    width: 100%;
    z-index: 1;
}
/*Block about how customer can trust the restaurant*/
.container_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2b2b2b;
    color: #b4a895;
    padding: 1vw;
    --mask:
            linear-gradient(#2b2b2b, #2b2b2b, #2b2b2b) top/100% calc(100% - 0.3em) no-repeat,
            radial-gradient(circle farthest-side,#2b2b2b 98%,#0000) bottom/0.56em 0.6em repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.text_p {
    letter-spacing: 1px;
}

.icon_knife, .icon_card, .icon_stars {
    margin: auto;
    display: flex;
    width: 64px;
    height: 64px;
    background-size: auto 100%;
}

.icon_knife {
    background-image: url(img/knifes.png);
}

.icon_card {
    background-image: url("img/card.png");

}

.icon_stars {
    background-image: url("img/stars.png");
}

.icon_left, .icon_center, .icon_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Block about new food*/

.container_3 {
    background-color: #fafafa;
}

.child_container_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.title, .name {
    font-weight: 500;
}

.title {
    padding: 2vw;
    font-size: 2.125rem;
    text-indent: 5vw;
}

.img_first, .img_second, .img_third, .img_fourth {
    width: 300px;
    height: 300px;
}

.fa-angle-left, .fa-angle-right {
    font-size: 3vw !important;
}

.name {
    font-size: 1.125rem;
    text-align: center;
    margin: 0.6vw;
}

/*Button "Add in basket"*/

.price {
    position: relative;
    background-color: transparent;
    color: #534D44;
    font-size: 1.125rem;
    line-height: 2vw;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 0 1vw 6vw;
}

.price:before {
    content: attr(data-front);
    opacity: 1;
    padding: 0 20px;
    transition: 0.5s;
    transform: translateY(0) rotate(0);
}

.price:after {
    content: attr(data-back);
    background-color: #323237;
    color: #b4a895;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    opacity: 0;
    width: 100%;
    transition: 0.5s;
    transform: translateY(0) rotate(0);
}

.price:hover::before {
    opacity: 0;
    transform: translateY(0) rotate(0);
}

.price:hover::after {
    opacity: 1;
    transform: translateY(0) rotate(0);
}

.price:hover::before, .price:hover::after {
    cursor: pointer;
}
/*Reserve table*/
.container_4 {
    background-image: url("img/bg_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.reserve {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    padding-top: 1vw
}

.phone {
    text-align: center;
    font-size: 1rem;
}

.child_container_4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/*Contact*/
.container_5 {
    display: -webkit-box;
    background-color: #2b2b2b;
    color: #ffffff;
}

.child_container_5 {
    border-right: 1px solid #b4a895;
    width: 33.33%;
}

.info_support {
    text-align: center;
    color: #b4a895;
    line-height: 1vw;
    letter-spacing: 0.1vw;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 1vw;
}

.icon_position {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img_fifth {
    width: 35px;
}

.info_link a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

[class^="fa"] {
    color: #ffffff;
}